div.css-1d3srhg.e16nr0p34 {
background-color: #EEEEEE;
border: 1px solid #666666;
padding: 5% 5% 5% 5%;
border-radius: 10px;
margin: 1px 1px 1px 1px;
}

div.css-1hynsf2.e1tzin5v2 {
display: none;
}

.css-17lwisu {
width: 60%;
margin-left: 20%;
margin-right: auto;
background-color: #EEEEEE;
border-radius: 25px;
box-shadow: 5px 10px #888888;
}

.css-1v0mbdj {
margin-left: 15%;
margin-right: 15%;
}

.css-1d3srhg p {
text-align: center;
}

.css-y97g8d {
opacity: 0.00;
}

